/*! CSSJanus Demo | Based on <https://design.wikimedia.org/style-guide/> */

:root {
	--cssjanus-desktop-wide: 1200px;
	--cssjanus-background-color-neutral: #eaecf0;
	--cssjanus-background-color-neutral-subtle: #f8f9fa;
	--cssjanus-border-color-soft: #eaecf0;
}

html {
	background-color: var( --cssjanus-background-color-neutral );
	font-family: sans-serif; /* Basic support without css-variables */
	font-family: var( --font-family-system-sans );
	line-height: var( --line-height-medium );
	font-size: 62.5%;
	color: var( --color-base );
}

body {
	margin: 0;
	font-size: 1.6rem;
}

/* Header */

header .wm-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

header [role="banner"] {
	line-height: 4.9rem;
	font-weight: var( --font-weight-bold );
	color: inherit;
}
header [role="banner"] em {
	font-weight: normal;
	font-style: normal;
}

.wm-header-caption {
	line-height: 4.9rem;
}
@media ( max-width: 768px ) {
	.wm-header-caption {
		display: none;
	}
}

/* Body */

.wm-container {
	margin: 0 auto;
	max-width: var( --cssjanus-desktop-wide );
	padding: 0 1rem;
	box-sizing: border-box;
}
@media ( min-width: 720px ) {
	/* Beyond --width-breakpoint-tablet */
	.wm-container {
		padding: 0 3.2rem;
	}
}

p {
	line-height: 1.5;
}

a {
	color: var( --color-progressive );
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-underline-position: under;
}

code {
	display: inline-block;
	font-size: 1.4rem;
	background-color: var( --cssjanus-background-color-neutral-subtle );
	border: var( --border-width-base ) var( --border-style-base ) var( --cssjanus-border-color-soft );
	border-radius: var( --border-radius-base );
	padding: 0.2rem 0.4rem;
}

main {
	background: var( --background-color-base );
	box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.25 );
	padding: 3.2rem 0 6rem 0;
}

ul {
	margin: 1rem;
	padding: 0;
}
ul ul {
	margin: 0 0 0 1em;
}

.wm-btn {
	display: inline-block;
	padding: 5px 12px;
	background-color: var( --background-color-interactive-subtle );
	border-radius: var( --border-radius-base );
	border: var( --border-base );
	color: var( --color-base );
	font-weight: var( --font-weight-bold );
	font-size: 1.4rem;
	line-height: 1.42857143;
	cursor: pointer;
  }
  .wm-btn:hover {
	background-color: var( --background-color-base );
	border-color: var( --border-color-base );
	color: var( --color-base--hover );
  }
  .wm-btn--progressive {
	background-color: var( --background-color-progressive );
	border-color: var( --border-color-progressive );
	color: var( --color-inverted );
  }
  .wm-btn--progressive:hover {
	background-color: var( --background-color-progressive--hover );
	border-color: var( --border-color-progressive--hover );
	color: var( --color-inverted );
  }
  .wm-btn--progressive:active {
	background-color: var( --color-progressive--active);
	border-color: var( --border-color-progressive--active );
	color: var( --color-inverted );
  }

/* Footer */

footer {
	padding: 2.4rem 0;
	font-size: 1.3rem;
}

@media ( min-width: 768px ) {
	/* Render bullet list as horizontal line when there is more space */
	footer nav ul {
	  margin: 0;
	}
	footer nav ul li {
	  list-style: none;
	  display: inline-block;
	  padding: 0 0.8rem 0 0;
	}
	footer nav li:not( :last-child )::after {
	  content: "\2022";
	  color: var( --color-subtle );
	  padding: 0 0 0 0.8rem;
	}
}

/* CSSJanus */

.cssjanus-form {
	display: flex;
	flex-flow: row wrap;
	column-gap: 30px;
	row-gap: 10px;
}

.cssjanus-form label {
	display: block;
	margin-bottom: var( --spacing-25 );
}

.cssjanus-form > * {
	flex-grow: 1;
}

.cssjanus-form-ioside {
	min-width: 300px;
}

.cssjanus-form-ioside label {
	font-weight: var( --font-weight-bold );
}

.cssjanus-form-ioside textarea {
	width: 100%;
	font-family: var( --font-family-monospace );
	font-size: 1.4rem;
	border: var( --border-base );
	max-height: 80vh;
	padding: var( --spacing-30 ) var( --spacing-50 );
}

textarea[readonly],
fieldset[disabled] {
	cursor: not-allowed;
	background-color: var( --background-color-interactive-subtle );
	opacity: 1;
}

.cssjanus-form-row {
	width: 100%;
}
